* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
}
.conoceOradores{
    padding: 30px 140px;
}

.conoceOradores p {
    text-align: center  ;
}

.conoceOradores .card {
    margin: 20px;
}

.conviertete{
    padding: 30px 30px;
    text-align: center;
    justify-content: center;
}
.conviertete p{
    text-align: center  ;
}

.card-img-overlay{
    text-align: right;
    margin: 350px 30px 190px 90px;
}
footer{
    background-color: rgb(31, 26, 100);
    justify-content: space-between;
}
footer ul{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
footer li{
    display: flex;
    margin: 0 auto;
    align-items: center;
}
footer h5{
    color: honeydew;
}
